body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, form, fieldset, input, button, textarea, p, blockquote, th, td {
    padding: 0;
    margin: 0;
}
body, textarea, select, input, button {
    font-size: 12px;
    color: #444;
}
.g-hdc, .g-hd8, .g-bd, .g-bd2, .g-bd3, .g-bd4, .g-bd5, .g-bd6, .g-bd7, .g-bd8, .g-ft {
    width: 928px;
    margin: 0 auto;
    text-align: left;
}
.g-mn {
    margin: 0 auto;
    width: 674px;
}
.publishBarArea .m-nav2 {
    opacity: 1;
}
.publishBarArea .m-nav2 {
    transition: opacity 0.35s ease,visibility 0.35s ease;
    -webkit-transition: opacity 0.35s ease,visibility 0.35s ease;
    -moz-transition: opacity 0.35s ease,visibility 0.35s ease;
    -o-transition: opacity 0.35s ease,visibility 0.35s ease;
}
.m-nav2 {
    position: relative;
    z-index: 9;
    margin: 0 0 18px;
    padding: 1px 2px 3px;
    background-position: 0 0;
}
.m-nav2, .m-nav2 li, .m-nav2 a {
    height: 110px;
}
.m-nav2, .m-nav2 a {
    background: url(../rsc/img/nav224-6.png?01) no-repeat 999px 999px;
}
.m-nav2 .user {
    position: relative;
    width: 110px;
}
.m-nav2 li {
    float: left;
    width: 112px;
    margin: 0 0 -1px;
}
.m-nav2, .m-nav2 li, .m-nav2 a {
    height: 110px;
}
li {
    list-style: none;
}
.m-nav2 .user img {
    display: block;
    width: 110px;
    height: 110px;
}
fieldset, img, html, body, iframe {
    border: 0;
}
.m-nav2 .user a {
    text-indent: 0;
}
.m-nav2 a {
    display: block;
    width: 100%;
    overflow: hidden;
    text-indent: -2000px;
}
a {
    text-decoration: none;
    color: #444;
    outline: none;
}
a, button {
    cursor: pointer;
}
.m-mlist {
    margin: 0 0 16px;
    overflow: hidden;
}
.m-mlist .mlistimg {
    float: left;
}
.w-img {
    position: relative;
    padding: 1px 2px 3px;
    background-position: 0 0;
}
.w-img, .w-img img {
    width: 64px;
    height: 64px;
}
.w-img {
    background: url(../img/isay24.png) no-repeat 999px 999px;
    _background: url(../img/isay24.png) no-repeat 999px 999px;
}
.m-mlist .mlistcnt {
    float: right;
}
.m-mlist .isay {
    width: 585px;
}
.m-mlist .isayt {
    height: 24px;
    overflow: hidden;
    background-position: 0 0 !important;
}
.m-mlist .isayc {
    float: right;
    width: 21px;
    height: 20px;
    overflow: hidden;
    text-indent: -2000px;
    background-position: -670px 0 !important;
}
.m-mlist .isayt, .m-mlist .isayt3, .m-mlist .isaym, .m-mlist .isaym2, .m-mlist .isaym3, .m-mlist .isayb, .m-mlist .isayc, .m-activity .m-nav2 {
    background: url(../img/isay24.png) no-repeat 999px 999px;
    _background: url(../img/isay24.png) no-repeat 999px 999px;
}
.m-mlist .isaym, .m-mlist .isaym2, .m-mlist .isaym3 {
    zoom: 1;
    padding: 3px 32px 28px 53px;
    background-position: -1015px 0;
    background-repeat: repeat-y;
}
.w-opt .optb {
    position: absolute;
    top: 0;
    right: 0;
    clear: both;
}
.w-opt {
    position: relative;
    z-index: 3;
    height: 19px;
    margin: 11px 0 0;
    line-height: 19px;
    color: #aaa;
}
.w-opt a:hover {
    color: #7594b3;
}

.w-opt a {
    color: #aaa;
}

a:hover {
    text-decoration: none;
    color: #7594B3;
}
.w-opt .opti {
    position: relative;
    z-index: 3;
    zoom: 1;
    float: left;
    margin-left: 18px;
    white-space: nowrap;
}
.m-icnt {
    width: 100%;
    font-size: 14px;
    line-height: normal;
}
.a-isaym2 {
    position: relative;
}
.a-scale, .a-slide, .a-isaym2, .a-w-sel {
    position: relative;
    overflow: auto;
    zoom: 1;
}
.m-mlist .isayb {
    height: 3px;
    overflow: hidden;
    background-position: -1649px 0;
}
.w-jing{
    background: url(../img/weibo.png) no-repeat 999px 999px;
     background-position: right -299px;
     padding: 0 3px 0 0;
         float: left;
    height: 19px;
    line-height: 17px;
}
.w-jing span {
	background: url(../img/weibo.png) no-repeat 999px 999px;
    background-position: 0 -275px;
    padding: 0 4px 0 7px;
    white-space: nowrap;
    float: left;
    height: 19px;
    line-height: 17px;
    color: #fff;
}
.a-isaym2{
	position: relative;
	overflow: hidden;
    zoom: 1;
    text-align: left;
	
}
.m-mlist .isaym2 {
    padding: 0 2px 0 23px;   
}
.m-cmt ul {
    margin: -1px 0 0;
    display: block;
    clear: both;
    overflow: hidden;
}
.m-cmt .cmti {
    padding: 10px 30px;
    overflow: hidden;
}
.m-cmt .w-img2 {
    float: left;
    width: 20px;
    height: 20px;
}
.w-img2-2, .w-img2-2 img {
    width: 20px;
    height: 20px;
    display: block;
    border: 0;
}
.m-cmt li {
    float: left;
    width: 100%;
    border-bottom: 1px solid #e7e7e7;
}

.w-opt .opticrt {
    position: absolute;
    top: 38px;
    left: 50%;
    width: 19px;
    height: 12px;
    margin-left: -9px;
    overflow: hidden;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -o-transition: 0.3s;
    display: block;
    background: url(../img/icon24.png) no-repeat 0 -1222px;
}
.m-cmt .cmtcnt {
    float: right;
    width: 466px;
    line-height: 24px;
}
.m-cmt .cmthot {
    float: left;
    width: 340px;
    overflow: hidden;
    line-height: 24px;
}
.m-cmt .cmtopt {
    float: right;
}
.s-fc4 {
    color: #7594B3;
}

a {
    text-decoration: none;
    color: #444;
    outline: none;
}
a, button {
    cursor: pointer;
}
.m-mlist .add .w-inputxt {
    float: left;
    width: 370px;
    min-height: 20px;
    overflow: hidden;
    padding: 9px;
    line-height: 20px;
    word-wrap: break-word;
    word-break: break-all;
    border: 1px solid #cececf;
    outline: none;
    background: #fff url(../img/shadow-in.png) no-repeat;
}
.m-mlist .add .w-bbtn {
    float: right;
    width: 104px;
    height: 40px;
    border: 0;
    font-size: 16px;
    cursor: pointer; 
    background: url(../img/btn24.png) no-repeat 0 0;
}
.w-bbtn-0 {
    color: #fff;
    text-shadow: -1px -1px 0px #779e00;

}
.w-bbtn-0:hover {
    background-position: -114px 0;
}
.m-mlist .shadow {
    height: 1px;
    overflow: hidden;
    border-top: 1px solid #c8c8c8;
    border-bottom: 1px solid #f1f1f1;
    background: #e1e1e1;
}
.m-mlist .add {
    position: relative;
    margin: 0 0 18px;
    padding-top: 18px !important;
    zoom: 1;
    overflow: hidden;
}
.m-mlist .isayi {
    padding: 0 30px;
}
.a-show-cmtul {
    position: relative;

}

a:focus, a:hover {
    color: #014c8c;
    text-decoration: none;
}
.w-more-close {
    padding-right: 16px;
}
.w-more-close:hover {
    background-position: right -955px;
}
.w-more {
    float: left;
    line-height: 15px;
    font-size: 12px;
    color: #888;
    background: url(../img/icon24.png) no-repeat right -932px;
}
.m-mlist .isaym2 .isaymin .more {
    padding: 13px 0;
    zoom: 1;
    overflow: hidden;
}

.publishBtn {
    color: #fff;
	margin-top: 7px;
    float: right;
    width: 130px;
    height: 40px;
    border: 0;
    font-size: 16px;
    cursor: pointer; 
    background: #94c500;
    border-radius: 5px;
    
}
.publishBtn:hover{
	background: #a0d600;
}
button:focus{
	outline: 0 !important;
}