body {
  overflow-x: hidden;
  font-family: "Avenir Next", "Avenir", "Segoe UI", "Helvetica Neue",
    "Helvetica", sans-serif;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2;
  color: #404040;
}

/*::selection选择器匹配元素中被用户选中或处于高亮状态的部分。
::selection只可以应用于少数的CSS属性：color, background, cursor,和outline。*/
::selection {
  background-color: #e6e6e6;
}

::-moz-selection {
  background-color: #e6e6e6;
}

a {
  color: #2196f3;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #1976d2;
  text-decoration: none;
}

a[data-toggle] {
  cursor: pointer;
}

b,
strong,
th {
  font-weight: 600;
}

/*<blockquote> 标签定义摘自另一个源的块引用。
<blockquote> 与 </blockquote> 之间的所有文本都会从常规文本中分离出来，经常会在左、右两边进行缩进，而且有时会使用斜体。也就是说，块引用拥有它们自己的空间。*/
blockquote {
  margin-bottom: 1rem;
  padding-left: 1rem;
  border-left: 4px solid rgba(0, 0, 0, 0.1);
}

blockquote p:last-child {
  margin-bottom: 0;
}

/*<figcaption> 标签定义 figure 元素的标题。
"figcaption" 元素应该被置于 "figure" 元素的第一个或最后一个子元素的位置。
实例:
<figure>
  <figcaption>PRC</figcaption>
  <p>The People's Republic of China was born in 1949...</p>
</figure>*/
figcaption {
  margin: 0 0 2em 0;
  color: #bfbfbf;
  font-size: 0.875rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 1rem;
  /*规定应该从父元素继承颜色。*/
  color: inherit;
  font-size: 1em;
  line-height: 2;
}

h1 {
  font-size: 1.75rem;
}

h2 {
  font-size: 1.5rem;
}

h3 {
  font-size: 1.25rem;
}

h4 {
  font-size: 1.125rem;
}

h5 {
  font-size: 1rem;
}

h6 {
  font-size: 0.875rem;
}

hr {
  border-color: rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  background: rgba(0, 0, 0, 0.05);
  border-color: rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

input[type="text"]:focus {
  background: #fff;
  border-color: rgba(255, 106, 0, 0.75);
  -webkit-box-shadow: 0 0 1rem rgba(255, 212, 0, 0.75),
    0 1px 3px rgba(0, 0, 0, 0.1) inset;
  box-shadow: 0 0 1rem rgba(255, 212, 0, 0.75),
    0 1px 3px rgba(0, 0, 0, 0.1) inset;
}

input[type="text"]:focus::-webkit-input-placeholder {
  color: transparent;
}

input[type="text"]:focus:-moz-placeholder {
  color: transparent;
}

input[type="text"]:focus::-moz-placeholder {
  color: transparent;
}

input[type="text"]:focus:-ms-input-placeholder {
  color: transparent;
}

label {
  font-weight: 600;
}

mark {
  padding: 3px 6px;
  background-color: #fff8e1;
  border-radius: 4px;
}

pre {
  font-size: 0.875rem;
  border: 0;
  border-radius: 4px;
}

pre table {
  width: 100%;
}

pre table td {
  padding: 1rem !important;
}

pre table td.gutter {
  border-right: 1px solid rgba(0, 0, 0, 0.05);
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
}

pre table td.gutter .lineno {
  color: #bfbfbf;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

code {
  padding: 6px 8px;
  background-color: rgba(224, 242, 241, 0.5);
  color: #009688;
  font-size: 87.5%;
}

pre,
code {
  font-family: "Menlo", "Monaco", "Consolas", "Courier New", monospace;
  word-break: break-all;
}

ruby rt {
  opacity: 0.5;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

strong.emphasis {
  -webkit-text-emphasis-style: dot;
  text-emphasis-style: dot;
  -webkit-text-emphasis-position: under;
  text-emphasis-position: under;
}

table th,
table td {
  line-height: inherit !important;
}

table.fixed {
  table-layout: fixed;
}

table.fixed td {
  overflow: hidden;
  word-wrap: break-word;
}

.label {
  margin-left: 0.5rem;
  color: inherit;
  font-weight: inherit;
}

.super-center {
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
}

.text-0 {
  color: #000;
}

.text-25 {
  color: #404040;
}

.text-50 {
  color: gray;
}

.text-75 {
  color: #bfbfbf;
}

.text-85 {
  color: #d9d9d9;
}

.text-100 {
  color: #fff;
}

*[lang="ja"] {
  font-family: "Kozuka Gothic Pro", "Kozuka Gothic Pr6N", "Hiragino Sans",
    "Hiragino Kaku Gothic Pro", "Hiragino Kaku Gothic", "Meiryo", sans-serif;
}

*[lang="ko"] {
  font-family: "Nanum Gothic", "NanumGothic", "나눔고딕", "Malgun Gothic",
    "맑은고딕", "Apple SD Gothic Neo", sans-serif;
}

.kaomoji {
  font-family: "Helvetica Neue", "Helvetica", sans-serif;
}

#navigation-wrapper {
  z-index: 2000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
}

#navigation-wrapper nav {
  position: relative;
  background-color: transparent !important;
  -webkit-transition: background 0.25s ease;
  -moz-transition: background 0.25s ease;
  -ms-transition: background 0.25s ease;
  transition: background 0.25s ease;
}

#navigation-wrapper nav a:not(.dropdown-item) {
  color: #fff;
  text-decoration: none;
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  transition: color 0.25s ease;
}

#navigation-wrapper nav a:not(.dropdown-item):hover {
  color: rgba(255, 255, 255, 0.75);
  text-decoration: none;
}

#navigation-wrapper nav .navbar-brand {
  padding: 0;
  font-weight: 600;
  line-height: 2;
}

#navigation-wrapper nav .navbar-nav .nav-item .nav-link {
  font-size: 0.875rem;
  line-height: 2;
}

#navigation-wrapper.floated nav {
  background-color: rgba(255, 255, 255, 0.95) !important;
  -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
  box-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
}

#navigation-wrapper.floated nav a {
  color: #404040;
}

#navigation-wrapper.floated nav a:hover {
  color: gray;
}

@supports (-webkit-backdrop-filter: none) or (backdrop-filter: none) {
  #navigation-wrapper.floated nav {
    background-color: rgba(255, 255, 255, 0.75) !important;
    -webkit-backdrop-filter: saturate(100%) blur(30px);
    backdrop-filter: saturate(100%) blur(30px);
  }
}

#intro-wrapper {
  position: relative;
  background: gray;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
}

#intro-wrapper .intro-heading {
  padding: 8rem 0;
  text-align: center;
}

#intro-wrapper .intro-heading .intro-title {
  font-size: 3rem;
  font-weight: 600;
  color: #fff;
}

#intro-wrapper .intro-heading .intro-meta {
  color: rgba(255, 255, 255, 0.75);
}

@media only screen and (max-width: 47.9em) {
  #intro-wrapper .intro-heading {
    padding: 4rem 0 2rem;
  }
  #intro-wrapper .intro-heading .intro-title {
    font-size: 1.75rem;
    -webkit-font-smoothing: antialiased;
  }
  #intro-wrapper .intro-logo {
    padding: 4rem 0 0;
  }
}

#content-wrapper {
  background: #fff;
}

.container-index {
  max-width: 750px;
}

.post {
  margin: 4rem auto;
}

.post:first-child {
  margin-top: 0;
}

.post .entry-header {
  padding: 6rem 2rem;
  background: gray;
  background-repeat: no-repeat;
  background-position: center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  background-size: cover;
  background-attachment: scroll;
  text-align: center;
  border-radius: 4px;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.post .entry-header:hover {
  -webkit-box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.1);
  -webkit-filter: brightness(0.75);
  -moz-filter: brightness(0.75);
  -ms-filter: brightness(0.75);
  filter: brightness(0.75);
}

.post .entry-header h2,
.post .entry-header h2 > a {
  margin: 0;
  color: #fff;
  text-decoration: none;
}

.post .entry-info {
  color: rgba(255, 255, 255, 0.75);
}

.post .entry-content {
  word-break: break-word;
}

.post .entry-content a:not(.btn):not([data-toggle]) {
  border-bottom: 1px solid;
}

.post .entry-content img {
  display: block;
  max-width: 100%;
  height: auto;
  margin: 0 auto;
}

.post .entry-content .post-image {
  cursor: -webkit-zoom-in;
  cursor: -moz-zoom-in;
  cursor: zoom-in;
}

.post .entry-content figure {
  display: block;
  border-radius: 4px;
}

.entry-meta .meta {
  margin-bottom: 2rem;
}

.reward {
  margin-bottom: 4rem;
  text-align: center;
}

.pager {
  margin: 0;
  padding: 0;
  list-style: none;
}

.pager li {
  display: inline;
}

.pager li.disabled span {
  background: transparent;
  cursor: not-allowed;
}

.pager li > a,
.pager li > span {
  display: inline-block;
  width: 50%;
  color: #404040;
  background: transparent;
  font-size: 1.25rem;
  line-height: inherit;
  border: 0;
  border-radius: 0;
}

.pager li > a.float-left,
.pager li > span.float-left {
  padding: 1rem 1rem 1rem 0;
}

.pager li > a.float-right,
.pager li > span.float-right {
  padding: 1rem 0 1rem 1rem;
}

.pager li > a:hover,
.pager li > a:focus {
  color: #1976d2;
  background-color: transparent;
}

.pager .disabled > a:hover,
.pager .disabled > a:focus {
  color: #bfbfbf;
}

.pager .disabled > span {
  color: #d9d9d9;
}

.pager:after {
  content: "";
  display: table;
  clear: both;
}

#pagination-wrapper .pagination li > a {
  color: inherit;
  text-decoration: none;
}

@media only screen and (max-width: 47.9em) {
  .post {
    margin: 0.9375rem auto;
  }
  .post .entry-header {
    padding: 2rem 1rem;
  }
}

@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}

@-ms-keyframes spin {
  100% {
    -ms-transform: rotate(360deg);
  }
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

#footer-wrapper {
  margin-top: 30px;
  padding-bottom: 30px;
}

#footer-wrapper .footer-logo {
  text-align: center;
}

#footer-wrapper .footer-logo .logo-system {
  -webkit-transform-origin: 50% 50%;
  -moz-transform-origin: 50% 50%;
  -ms-transform-origin: 50% 50%;
  transform-origin: 50% 50%;
}

#footer-wrapper .footer-logo #logo-system01 {
  -webkit-animation: spin 14s linear infinite;
  -moz-animation: spin 14s linear infinite;
  -ms-animation: spin 14s linear infinite;
  animation: spin 14s linear infinite;
}

#footer-wrapper .footer-logo #logo-system02 {
  -webkit-animation: spin 28s linear infinite;
  -moz-animation: spin 28s linear infinite;
  -ms-animation: spin 28s linear infinite;
  animation: spin 28s linear infinite;
}

#footer-wrapper .footer-logo #logo-system03 {
  -webkit-animation: spin 42s linear infinite;
  -moz-animation: spin 42s linear infinite;
  -ms-animation: spin 42s linear infinite;
  animation: spin 42s linear infinite;
}

#footer-wrapper .footer-meta {
  text-align: center;
}

.table td,
.table th {
  border-color: #eeeeee;
}

.table thead th {
  border-color: #eeeeee;
}

.table-bordered td,
.table-bordered th {
  border-color: #eeeeee;
}

.thead-default th {
  background-color: #fafafa;
}

.dropdown-item {
  font-size: 87.5%;
}

.card > .list-group:last-child > .list-group-item:last-child {
  border-bottom: none;
}

.card.card-inverse a {
  color: #fff;
}

.card .card-blockquote {
  padding: 0 2rem;
}

.card .card-blockquote p:before {
  content: "“";
  position: absolute;
  opacity: 0.5;
  margin: -0.6em 0 0 -0.6em;
  font-size: 3em;
  font-family: "Helvetica Neue", "Helvetica", "Arial", serif;
  font-weight: 400;
}

.card .card-blockquote p:after {
  content: "”";
  position: absolute;
  opacity: 0.5;
  margin: -0.6em 0 0 0.3em;
  font-size: 3em;
  font-family: "Helvetica Neue", "Helvetica", "Arial", serif;
  font-weight: 400;
}

.popover {
  font-family: "Avenir Next", "Avenir", "Segoe UI", "Helvetica Neue",
    "Helvetica", sans-serif;
  font-weight: 400;
  border-color: rgba(0, 0, 0, 0.1);
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.popover .popover-arrow {
  border-bottom-color: rgba(0, 0, 0, 0.1) !important;
}

.popover .popover-title {
  display: none;
}

.popover .popover-content {
  padding: 1rem 1.5rem;
  word-wrap: break-word;
}

.badge {
  display: inline;
  margin-right: 0.5rem;
  padding: 0.125rem 0.25rem;
  font-size: 0.75rem;
  font-weight: 600;
  border-radius: 0.25rem;
}

.meta .badge {
  padding: 0.5rem 1rem;
  border-radius: 1rem;
  background-color: rgba(0, 0, 0, 0.1);
  color: gray;
  font-weight: 400;
}

.tooltip {
  font-family: inherit;
  font-size: 0.75rem;
}

.tooltip .tooltip-inner {
  padding: 0.25rem 0.5rem;
  -webkit-box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.badge-default {
  background-color: #9e9e9e;
}

.text-primary {
  color: #2196f3 !important;
}

.badge-primary {
  background-color: #2196f3;
}

.card-primary {
  background-color: #42a5f5;
  border-color: #42a5f5;
}

.text-success {
  color: #4caf50 !important;
}

.badge-success {
  background-color: #4caf50;
}

.card-success {
  background-color: #66bb6a;
  border-color: #66bb6a;
}

.text-info {
  color: #00bcd4 !important;
}

.badge-info {
  background-color: #00bcd4;
}

.card-info {
  background-color: #26c6da;
  border-color: #26c6da;
}

.text-warning {
  color: #ff9800 !important;
}

.badge-warning {
  background-color: #ff9800;
}

.card-warning {
  background-color: #ffa726;
  border-color: #ffa726;
}

.text-danger {
  color: #f44336 !important;
}

.badge-danger {
  background-color: #f44336;
}

.card-danger {
  background-color: #ef5350;
  border-color: #ef5350;
}

.text-muted {
  color: #607d8b !important;
}

.badge-muted {
  background-color: #607d8b;
}

.fancybox-overlay {
  -webkit-backdrop-filter: saturate(100%) blur(30px);
  backdrop-filter: saturate(100%) blur(30px);
}

.highlight,pre {
	background-color: #f8f8f8;
}

ol.linenums {
  margin-left: 35px;
  margin-top: 0;
  margin-bottom: 0;
  color: rgba(102, 128, 153, 0.4);
}

ol.linenums>li {
  line-height: 20px;
  padding-left: 15px;
}

pre code {
  padding: 0;
  color: inherit;
  white-space: pre;
  white-space: pre-wrap;
  background-color: transparent;
  border: 0;
}

.pln { color: #000 }  /* plain text */
.str { color: #080 }  /* string content */
.kwd { color: #008 }  /* a keyword */
.com { color: #800 }  /* a comment */
.typ { color: #606 }  /* a type name */
.lit { color: #066 }  /* a literal value */
/* punctuation, lisp open bracket, lisp close bracket */
.pun, .opn, .clo { color: #660 }
.tag { color: #008 }  /* a markup tag name */
.atn { color: #606 }  /* a markup attribute name */
.atv { color: #080 }  /* a markup attribute value */
.dec, .var { color: #606 }  /* a declaration; a variable name */
.fun { color: red }  /* a function name */

.white-blockquote {
  border-color: #D6DBDF;
  background: none repeat scroll 0 0 rgba(102,128,153,.05);
  padding: 10px 15px;
  border-left-style: solid;
  border-left-width: 10px;
}

.highlight table td {
  padding: 5px;
}

.highlight table pre {
  margin: 0;
}

.highlight .cm {
  color: #999988;
  font-style: italic;
}

.highlight .cp {
  color: #999999;
  font-weight: bold;
}

.highlight .c1 {
  color: #999988;
  font-style: italic;
}

.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
}

.highlight .c,
.highlight .cd {
  color: #999988;
  font-style: italic;
}

.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
}

.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
}

.highlight .ge {
  color: #000000;
  font-style: italic;
}

.highlight .gr {
  color: #aa0000;
}

.highlight .gh {
  color: #999999;
}

.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
}

.highlight .go {
  color: #888888;
}

.highlight .gp {
  color: #555555;
}

.highlight .gs {
  font-weight: bold;
}

.highlight .gu {
  color: #aaaaaa;
}

.highlight .gt {
  color: #aa0000;
}

.highlight .kc {
  color: #000000;
  font-weight: bold;
}

.highlight .kd {
  color: #000000;
  font-weight: bold;
}

.highlight .kn {
  color: #000000;
  font-weight: bold;
}

.highlight .kp {
  color: #000000;
  font-weight: bold;
}

.highlight .kr {
  color: #000000;
  font-weight: bold;
}

.highlight .kt {
  color: #445588;
  font-weight: bold;
}

.highlight .k,
.highlight .kv {
  color: #000000;
  font-weight: bold;
}

.highlight .mf {
  color: #009999;
}

.highlight .mh {
  color: #009999;
}

.highlight .il {
  color: #009999;
}

.highlight .mi {
  color: #009999;
}

.highlight .mo {
  color: #009999;
}

.highlight .m,
.highlight .mb,
.highlight .mx {
  color: #009999;
}

.highlight .sb {
  color: #d14;
}

.highlight .sc {
  color: #d14;
}

.highlight .sd {
  color: #d14;
}

.highlight .s2 {
  color: #d14;
}

.highlight .se {
  color: #d14;
}

.highlight .sh {
  color: #d14;
}

.highlight .si {
  color: #d14;
}

.highlight .sx {
  color: #d14;
}

.highlight .sr {
  color: #009926;
}

.highlight .s1 {
  color: #d14;
}

.highlight .ss {
  color: #990073;
}

.highlight .s {
  color: #d14;
}

.highlight .na {
  color: #008080;
}

.highlight .bp {
  color: #999999;
}

.highlight .nb {
  color: #0086b3;
}

.highlight .nc {
  color: #445588;
  font-weight: bold;
}

.highlight .no {
  color: #008080;
}

.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
}

.highlight .ni {
  color: #800080;
}

.highlight .ne {
  color: #990000;
  font-weight: bold;
}

.highlight .nf {
  color: #990000;
  font-weight: bold;
}

.highlight .nl {
  color: #990000;
  font-weight: bold;
}

.highlight .nn {
  color: #555555;
}

.highlight .nt {
  color: #000080;
}

.highlight .vc {
  color: #008080;
}

.highlight .vg {
  color: #008080;
}

.highlight .vi {
  color: #008080;
}

.highlight .nv {
  color: #008080;
}

.highlight .ow {
  color: #000000;
  font-weight: bold;
}

.highlight .o {
  color: #000000;
  font-weight: bold;
}

.highlight .w {
  color: #bbbbbb;
}

.highlight {
  background-color: #f8f8f8;
}

.tablesorter
  .tablesorter-header.tablesorter-headerUnSorted:not(.sorter-false):hover {
  color: #2196f3;
  border-bottom-color: #2196f3;
  cursor: pointer;
  -webkit-transition: color 0.25s ease;
  -moz-transition: color 0.25s ease;
  -ms-transition: color 0.25s ease;
  transition: color 0.25s ease;
  -webkit-transition: border-bottom-color 0.25s ease;
  -moz-transition: border-bottom-color 0.25s ease;
  -ms-transition: border-bottom-color 0.25s ease;
  transition: border-bottom-color 0.25s ease;
}

.tablesorter .tablesorter-header.tablesorter-headerAsc,
.tablesorter .tablesorter-header.tablesorter-headerDesc {
  color: #2196f3;
  border-bottom-color: #2196f3;
  cursor: pointer;
}

.tablesorter
  .tablesorter-header.tablesorter-headerAsc
  .tablesorter-header-inner:after,
.tablesorter
  .tablesorter-header.tablesorter-headerDesc
  .tablesorter-header-inner:after {
  content: "";
  display: inline-block;
  width: 0;
  height: 0;
  margin-bottom: 0.2rem;
  margin-left: 0.25rem;
  border-right: 0.25rem solid transparent;
  border-left: 0.25rem solid transparent;
}

.tablesorter
  .tablesorter-header.tablesorter-headerAsc
  .tablesorter-header-inner:after {
  border-top: 0.25rem solid;
}

.tablesorter
  .tablesorter-header.tablesorter-headerDesc
  .tablesorter-header-inner:after {
  border-bottom: 0.25rem solid;
}
